.footerLogo {
    height: 41px;
    width: 41px;
    line-height: 41px;
    color: #458FF6;
    background-color: white;
    border-radius: 50%;
    text-align: center;
}

footer {
    display: flex;
    height: 165px;
    background: #458FF6;
    color: white;
    justify-content: space-around;
    align-items: center;
}

.spaceFooter>a {
    padding: 11px;
    text-decoration: none;
    color: white;
}